body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}
#app{
    background-color: aliceblue;
    padding: 80px;
}
#games{
    background-color: lightcoral;
    padding: 80px;
}
img{
    width: 400px;

}
#chatbot{
    background-color: aqua;
    padding: 80px;
}